@import "./custom_colors";

nav.navbar {
    height: 70px;
    border-bottom: 1px solid $custom-purple;

    .navbar-brand {
        img {
            height: 40px;
            margin-top: 15px;
        }
    }
}

.navbar-logged {
    background-color: $custom-purple;
}

.navbar-menu {
    color: white;
    background-color: $custom-purple;
}